
body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

/*Header styles */
header {
  width: 100%;
  height: 60px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a {
  margin-right: 10px;
}
nav .nav-right-section .menu-icon {
  background-image: url('https://cdn-icons-png.freepik.com/512/8215/8215315.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
nav .nav-right-section .profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

/*Main styles*/
main {
  margin-top: 200px;
  text-align: center;
}
main .main-logo {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}
main .main-input-section {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-input-container {
  width: 525px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input-container input {
  width: 525px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #4d5156;
  color: #fff;
}
main .main-input-container:hover {
  background-color: #5f6368;
}
main .main-input-container input:hover {
  background-color: #5f6368;
}
main .main-input-icon {
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
main .main-input-section img {
  width: 20px;
  height: 20px;
}
main .main-buttons {
  width: 530px;
  margin: 0 auto;
}
main .main-buttons-section div {
  display: inline-block;
}
main .main-buttons-section button {
  height: 38px;
  border-radius: 6px;
  border-style: none;
  color: #fff;
  background-color: #303134;
  border: none;
  outline: none;
  padding: 0 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}
main .main-buttons-section button:hover {
  border: 1px solid #5f6368;
}
main .main-buttons-section p {
  color: #5f6368;
  font-size: 14px;
}

/*Footer styles*/
footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #171717;
  border-top: 1px solid #3c4043;
}
footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0%;
  justify-content: center;
  align-items: center;
  list-style: none;
}
footer .footer-left-section {
  justify-content: left;
}
footer .footer-right-section {
  justify-content: right;
}
footer ul li a{
  margin-right: 10px;
}